<Files magic>
	ForceType application/x-httpd-php5
</Files>

<IfModule mod_rewrite.c>
	RewriteEngine On 
		
	RewriteCond %{REQUEST_FILENAME} !-f 
	RewriteCond %{REQUEST_FILENAME} !-d
	
	#default patterns to l, sl, cod, p, busca

	#?l=local -> /local
	RewriteRule ^([a-z0-9_]+)$ ?l=$1 [NC,L]
	RewriteRule ^([a-z0-9_]+)/$ ?l=$1 [NC,L]
	
	#?l=local&sl=sublocal -> local/sublocal
	RewriteRule ^([a-z0-9_]+)/([a-z0-9_]+)$ ?l=$1&sl=$2 [NC,L]
	RewriteRule ^([a-z0-9_]+)/([a-z0-9_]+)/$ ?l=$1&sl=$2 [NC,L]

	#?l=local&sl=sublocal -> local/sublocal/cod
	RewriteRule ^([a-z0-9_]+)/([a-z0-9_]+)/([0-9_]+)$ ?l=$1&sl=$2&cod=$3 [NC,L]
	RewriteRule ^([a-z0-9_]+)/([a-z0-9_]+)/([0-9_]+)/$ ?l=$1&sl=$2&cod=$3 [NC,L]

	#?l=local&sl=sublocal -> local/sublocal/var
	RewriteRule ^([a-z0-9_]+)/([a-z0-9_]+)/([a-z0-9_]+)$ ?l=$1&sl=$2&var=$3 [NC,L]
	RewriteRule ^([a-z0-9_]+)/([a-z0-9_]+)/([a-z0-9_]+)/$ ?l=$1&sl=$2&var=$3 [NC,L]
	
</IfModule>