.ds-btn li{ 
	list-style:none; float:left; padding:10px; 
	}
.ds-btn li a span{
	padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;
}
.btn-lg{
	padding: 40px;
}
.ds-btn li a span small{
	width:100%; display:inline-block; text-align:left;
}