body,html{
    margin: 0;
    padding: 0;
}
.sidebar{
    margin-top: -1px !important;
}
.ctInputGroup{
    margin: 15px 0;
}
.border{
    border: 1px solid red;
}
#logout{
    padding: 10px 0;
    display: block;
    color: white;
}
header{
    margin: 0 !important;
    padding: 0 !important;
}
.container-fluid{ 
    padding: 0 15px;
    margin:  0 auto;
}
/*atomic_css*/
.mt15{
    margin-top: 15px;
}

/*lista*/
.opcaoLista{
    width: 60px;
}
.ctButtonsTopo{
    margin-top: 15px;
}
/**/
#content{
    min-height: 900px; 
}

#menu{
    z-index: 100;
}
#menu ul{
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}
#menu ul li:hover{
    background: rgba(255,255,255,0.1);
}

.arrow-left{
    float: right;
    border-right: 10px solid white;
    border-top:  10px solid transparent;
    border-bottom:  10px solid transparent;
}
#menu li{
    padding: 10px 0 ;
}
#menu a{
    color: white;
    text-decoration: none;
}
.sidebar{
    background: url("../img/bg_linen.png");
    display: table;
    margin-left: -15px;
    margin-right: -15px;
    height: 100%;
    color: #eee;
}

#menuToggle {
    height: 30px;
    width: 40px;
    position: fixed;
    top: 15px; left: 15px;
    z-index: 10;
}
#menuToggle div{
    height: 5px;
    background: white;
    margin: 3px;
    border-radius: 2px;
    border: 1px solid #555;
}

.alert{
    margin: 0 !important;
}
/*bootsnip*/



/*bootsnip*/
@media (max-width: 767px) {
    .esconde_mobile{
        display: none !important;
    }
    .sidebar h3{ margin-top : 15px;}
    #menu{
        display: none;
    }
    .sidebar{
        display: table;
        position: fixed;
        height: 60px !important;
        width: 100%;
        z-index: 100;
    }
    #content{
        padding-top: 60px;
    }
}
@media (min-width: 768px) {
    .sidebar{ min-height: 900px;}
    #menu{ display: block !important}
}
@media (min-width:980px){
    .text-center_tablet{
        text-align: center !important;
    }

    #menuToggle{
        display: none;
    }
    
}
@media (max-width:979px){

    .left-navbar-fixed{
        width: 100%;
        height: 81px;
        border-bottom: 1px solid #666;
    }
    #menuToggle{
        display: block;
    }
}


.ctSysMsg .alert{ border-radius: 0;}
.ctSysMsg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.ctPureMessages{
    margin-top: 10%;
}
.ctPureMessages .panel .panel-body{
    height: 250px;
}

.animated{
    -webkit-transition: all .25s linear;
       -moz-transition: all .25s linear;
        -ms-transition: all .25s linear;
         -o-transition: all .25s linear;
            transition: all .25s linear;
}

.default-table td {
    vertical-align: center;
}

.default-table th {
    background: #f9f9f9;
}

.menuLeftMobile{
    position: fixed;
    width: 250px;
    top: 0;
    left: -300px;
    height: 100%;
    background-color: #111;
    z-index: 888;
    box-shadow: 0 0 10px black;
    text-align: center;
}
.menuLeftMobile a{
    padding: 20px ;
    display: block;
    font-size: 16px;
    color: white;
}